body {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: #121517;
    color: #CAD2C5;
}

img {
    border: 1px solid grey;
    border-radius: 180px;
    width: 20%;
    margin: 3%;
}

h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    letter-spacing: 2px;
    font-variant: small-caps;
    text-align: center;
}

h3 {
    margin-left: 20px;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0px;
}

ul {
    line-height: 1.7;
}