body {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: #cbb8a9;
}

img {
    border: 1px solid grey;
    border-radius: 180px;
    width: 20%;
    margin-left: 2%;
}

h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    letter-spacing: 2px;
    font-variant: small-caps;
    color: #6F686D;
    text-align: center;
}

h2 {
    color: #51484E;
    margin: 2% 2% 1% 2%;

}

h3 {
    color: #51484E;
    margin-left: 2%;

}

ul {
    list-style-type: square;
    margin-left: 2%;
    border: 1pt dotted grey;
    width: 30%;
    color: #51484E;
}

a {
    margin-left: 2%;
    color: #565647;
}

p {
    margin-left: 2%;
    color: #565647;
}